<div *ngIf="dataLoaded==false" class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <table class="table table-striped">
    <thead>
       <tr>
        <th>Id</th>
        <th>Marka</th>
        <th>Renk</th>
        <th>Model Yılı</th>
        <th>Fiyat</th>
        <th>Açıklama</th>
        <th>İncele</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.carId}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice}}</td>
            <td>{{car.description}}</td>
            <a class="btn btn-primary" href="http://localhost:4200/cars/detail/{{car.carId}}" role="button">İncele</a>

        </tr>
    </tbody>   
  </table>
